<h1>{{ email.subject }}</h1>
<h1>Vous avez reçu une demande de {{ prenom }} {{ nom }}</h1>

<p>
    {{ text }}
</p>
<p>
    adresse email : {{ from }}
</p>
<p>
    numéro de téléphone : {{ phone }}
</p>
